quote-component{
    background-color: red;
    color: azure;
}

ul{
    list-style: none;
}
.card{
    background-color: rgb(89, 0, 255);
    width:600px;
    border:25px;
    height:auto
}
.container{
    background-color: #221b1c;
    color:whitesmoke;
    border-radius: 1rem;
}
.navbar{
    color: whitesmoke;
    background-color: rgb(48, 41, 54);
}
a{
    color: whitesmoke;
}
nav{
    color: aliceblue;
}